<p><%= Spree.t('order_mailer.confirm_email.dear_customer') %></p>

<p><%= Spree.t('order_mailer.confirm_email.bid_accepted') %></p>
<p><%= Spree.t('order_mailer.confirm_email.bid_order_no') %> <%=@order.number%></p>

<p><%= "#{Spree.t('order_mailer.confirm_email.bid_payment_message')} " "#{AppConfig.paypal['id']}" %></p>
<p><%= Spree.t('order_mailer.confirm_email.bid_address') %></p>
<p><%= @order.ship_address.firstname %><%= @order.ship_address.lastname %></p>
<p><%= @order.ship_address.address1 %></p>
<p><%= @order.ship_address.address2 %></p>
<p><%= @order.ship_address.city %></p>
<p><%= @order.ship_address.state_name %></p>
<p><%= @order.ship_address.phone %></p>

<p><%= Spree.t('order_mailer.confirm_email.thanks') %></p>
