<%= form_for [:admin, @navigation] do |f| %>
<%= select_tag "lang", options_for_select(["en", "pl"])%>
<table class="no-border">
	<tr class="no=border">
		<td class="no-border">
			<%= f.label :name %>
		</td>
		<td class="no-border">
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr class="no=border">
		<td class="no-border">
			<%= f.label :url %>
		</td>
		<td class="no-border">
			<%= f.select :url, Spree::Navigation.all.collect{|p| [p.url, p.url]}, include_blank: "None" %>
		</td>
	</tr>
	 <tr>
    	<td class="no_border"></td>
        <td class="no_border" colspan= "2" style="float:right;">
            <%= f.submit 'Save' %>
        </td>
    </tr>
 </table>
<% end %>
