<%= form_tag('/create',{:method => :post}) do %>
<table style = "border:none !important">
    <tr>
     <td> <%= label_tag :title %> </td>
     <td> <%= text_field_tag :title %></td>
	  </tr>
	  <tr>
	 <td> <%= label_tag :Description %></td>
	 <td style = "width:857px;height:158px"> <%= text_area_tag :description %></td>
    
    </tr>
	 <tr>
	 <td colspan= "2"><%= submit_tag 'Save' %></td>
	 </tr>
	 </table>
	  <% end %>
