<%= Spree.t(:dear_customer)%>
<br>
<%= Spree.t(:please_review_order_information)%>
<br>
============================================================
<br>
<%= Spree.t(:order_summary)%>
<br>
============================================================
<br>
<% for item in @order.line_items %>
    <%=item.variant.sku %> <a href="<%= ActionMailer::Base.default_url_options[:host] %>/products/<%= item.variant.product.permalink%>"><%=item.variant.product.name %></a> (<%=item.quantity%>) @ <%= number_to_currency item.price %>
<% end %>
<br>
============================================================
<br>
<%= Spree.t(:subtotal)%> <%= number_to_currency @order.item_total %>
<br/>
<% @order.adjustments.eligible.each do |adjustment| %>
  <%= raw(adjustment.label) %> <%= adjustment.display_amount %>
<% end %>
<br>
<%= Spree.t(:order_total)%> <%= number_to_currency @order.total %>
<br>
<br>

<%= Spree.t(:thank_for_business)%>