<% content_for :page_title do %>
  <%= Spree.t(:editing_biography) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_biographies_list), admin_author_bios_path, :icon => 'icon-arrow-left' %></li>
  <li id="new_bio_link">
    <%= button_link_to Spree.t(:new_biography), new_admin_author_bio_path, {:icon => 'icon-plus', :id => 'admin_new_biography' } %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bio } %>

<%= form_for [:admin, @bio], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <table class = "no_border">
    <tr class="no_border">
        <td class="no_border">
            <%= f.label :name %>
        </td>
        <td class="no_border">
            <%= f.text_field :name %>
        </td>
    </tr>
    <tr class="no_border">
        <td class="no_border">
            <%= f.label :biography %>
        </td>
        <td class="no_border">
            <%= f.text_area :biography, :id => "bio_description" %>
        </td>
    </tr>
    <tr>
    	<td class="no_border"></td>
        <td class="no_border" colspan= "2" style="float:right;">
            <%= f.submit 'Update' %>
        </td>
    </tr>
</table>
  </fieldset>
<% end %>