<%if Spree::CustomEmailContent.where("lower(name) = ?", 'confirmation_instructions').first.nil? %>
    <p><%= Spree.t(:welcome)%> <%= @email %>!</p>
    
    <p><%= Spree.t(:confirm_email_through_link)%></p>
    <p><%= link_to 'Confirm my account', spree.spree_user_confirmation_url( :confirmation_token => @resource.confirmation_token) %></p>

<%else%>
    <% body = Spree::CustomEmailContent.where("lower(name) = ?", 'confirmation_instructions').first.body%>
    <% content = body[I18n.locale] || body.values.first || "" %>
    <% @content = raw content %>
    <% @content = @content.gsub('#user_email', @email).gsub('#confirm_account_link',(link_to 'Confirm my account', spree.spree_user_confirmation_url( :confirmation_token => @resource.confirmation_token))) %>
    <%= @content.html_safe%>
<%end%>
