<% address_id = address_type.chars.first %>
<% user = spree_current_user %>
<% user_address = user.user_address %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="field" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span><br />
    <%= form.text_field :firstname, :class => 'required user_address_form', :value => user.first_name , :readonly => "readonly", :disabled => "disabled"%>
  </p>
  <p class="field" id=<%="#{address_id}lastname" %>>
    <%= form.label :lastname, Spree.t(:last_name) %><span class="required">*</span><br />
    <%= form.text_field :lastname, :class => 'required user_address_form', :value => user.last_name, :readonly => "readonly", :disabled => "disabled"%>
  </p>
  <% if Spree::Config[:company] and user_address.company%>
    <p class="field" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company) %><br />
      <%= form.text_field :company, :class => ' user_address_form', :value => user_address.company_name, :readonly => "readonly", :disabled => "disabled"%>
    </p>
  <% end %>
  <p class="field" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
    <%= form.text_field :address1, :class => 'required user_address_form', :value => user_address.street_no, :readonly => "readonly", :disabled => "disabled" %>
  </p>
  <p class="field" id=<%="#{address_id}address2" %>>
    <%= form.label :address2, Spree.t(:street_address_2) %><br />
    <%= form.text_field :address2, :class => 'user_address_form', :value => user_address.apartment_no, :readonly => "readonly", :disabled => "disabled" %>
  </p>
  <p class="field" id=<%="#{address_id}city" %>>
    <%= form.label :city, Spree.t(:city) %><span class="required">*</span><br />
    <%= form.text_field :city, :class => 'required user_address_form', :value => user_address.city, :readonly => "readonly", :disabled => "disabled" %>
  </p>
  <p class="field" id=<%="#{address_id}country" %>>
    <%= form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
    <span id=<%="#{address_id}country-selection" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {:selected => user_address.country}, {:class => 'required user_address_form', :readonly => "readonly", :disabled => "disabled"} %>
    </span>
  </p>

  <% if Spree::Config[:address_requires_state] %>
    <p class="field" id=<%="#{address_id}state" %>>
      <%= form.label :state, Spree.t(:state) %><span class='required'>*</span><br/>
      <%= form.text_field :state_name, :class => 'required user_address_form', :value => user_address.state, :readonly => "readonly", :disabled => "disabled" %>
    </p>
  <% end %>

  <p class="field" id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode, Spree.t(:zip) %><span class="required">*</span><br />
    <%= form.text_field :zipcode, :class => 'required user_address_form', :value => user_address.zip_code, :readonly => "readonly", :disabled => "disabled" %>
  </p>
  <p class="field" id=<%="#{address_id}phone" %>>
    <%= form.label :phone, Spree.t(:phone) %><span class="required">*</span><br />
    <%= form.phone_field :phone, :class => 'required user_address_form', :value => user_address.mobile_no, :readonly => "readonly", :disabled => "disabled" %>
  </p>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <p class="field" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
      <%= form.phone_field :alternative_phone, :class => 'user_address_form', :value => user_address.land_line_no, :readonly => "readonly", :disabled => "disabled" %>
    </p>
  <% end %>
</div>